.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.grid {
    display: grid;
    gap: 10px;
}

.grid div {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}