body {
    background-color: rgb(15, 15, 15);
}

#title {
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
}

#sidebarTitle {
    color: rgb(240, 240, 240);
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    position: absolute;
    top: -6%;
}

#parameterTitle {
    color: rgb(240, 240, 240);
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    position: absolute;
    top: -6%;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* use fixed to keep it in place while scrolling */
    top: 10%;
    left: 3%;
    height: 80vh;
    width: 30vh;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
}

#parameterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* use fixed to keep it in place while scrolling */
    top: 10%;
    right: 3%;
    height: 80vh;
    width: 30vh;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
}

#grid {
    display: grid;
    height: 60vh;
    width: 60vh;
    background-color: rgb(30, 30, 30);
    border-radius: 5%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

#cell {
    outline: 1.5px solid rgb(15, 15, 15);
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(30, 30, 30); */
    height: 5vh;
    width: 45vh;
    border-radius: 5px;
}

#calculateButton {}
#placeButton {}
#deleteButton {}
#resetButton {}

#calculateButton:hover {
    background: #007BFF;
    box-shadow: #007BFF 0 10px 20px -10px;
}

#placeButton:hover {
    background: #28A745;
    box-shadow: #28A745 0 10px 20px -10px;
}

#deleteButton:hover {
    background: #FF3D3D;
    box-shadow: #FF3D3D 0 10px 20px -10px;
}

#resetButton:hover {
    background: #FF3D3D;
    box-shadow: #FF3D3D 0 10px 20px -10px;
}

.controlButton {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    height: 40px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.controlButton:hover {
    animation: pulse 0.5s ease backwards;
}

.button {
    background: #5E5DF0;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    border-radius: 999px;
    box-sizing: border-box;
    color: rgb(240, 240, 240);
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;    
    position: relative;
    margin: auto;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

